h1{
    color: greenyellow;
    font-size: 50px ;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: 25px;
}
table{
    color: wheat;
    padding: 40px;
    border-color: darkmagenta;
    
}
body{
    background-color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    border-color: yellowgreen;
}